/* Write your CSS here */

.page-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/planets-app/planets-bg-img.png');
  min-height: 100vh;
  background-size: cover;
  padding: 40px;
}
.page-heading {
  color: #05acff;
  font-size: 40px;
  font-weight: 900;
  font-family: 'Roboto';
  text-align: center;
}
